:host {
    display: table-row;
    border-bottom: 1px solid rgba(208, 212, 217, 0.5);

    &:nth-child(even) { background-color: rgba(black, 0.03); }

    &.clickable {
        cursor: pointer;

        &:hover { background-color: rgba(black, 0.08); }
        &:active { background-color: rgba(black, 0.12); }
    }

    &.fake {
        height: 0;
        line-height: 0;
        visibility: hidden;
        border-bottom: none;
    }
}